/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    margin: 0;
    /* this font size will effect all elements (other than h1 -> h6) on the page */
    font-size: 21px;
	line-height: 1.2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ========
Typography 
======== */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

p {
    padding-top: 20px;
}

ul {
    padding-top: 20px;
}

/* ========
Layout 
======== */

.intro {
    width: 350px;
    margin: 30px auto;
    text-align: justify;
}

.my-skills {
    background-color: #E4D9C3;
    color: black;
    text-align: center;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.column {
    text-align: left;
    width: 330px;
    margin: 20px 5px;
}

#connect {
    margin-top: 5px;
}

#david {
    width: 200px;
    padding: 10px 0 0 72px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #284358;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    padding: 20px 0px;
    float: left;
    color: white;
    text-decoration: none; 
    font-size: 25px;
    width: 33.33%;
    text-align: center; 
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #F6F4F2;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #C6AD8F;
    color: black;
}

.picture-items-wrapper {
    display: flex-box;
    flex-direction: column;
   /* grid-template-columns: 1fr 1fr 1fr*/
    margin-top: 0px;
}

.picture-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: relative;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50px;
    margin: 0 auto 25px 0;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: white;
}

.img-lighten{
    transition: 1s;
    filter: brightness(150%);
}

.subtitle {
    text-align: center;
}

.profile-content-wrapper h1 {
    color: #928490;
    margin-top: 300px;
}

.david {
    width: 150px;
    height: 200px;
    margin: 0 10%
}

.card {
    box-shadow: 0 8px 16px 0 #928490;
    transition: 0.3s;
    width: 425px;
    height: 300px;
    background-color: white;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px auto;
}

@media only screen and (max-width: 700px) {
    .picture-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .topnav a {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        /* If you want the text to be left-aligned on small screens */
    }

    p {
        padding: 0px 10px 0 10px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .9s linear;
        background-image: linear-gradient(white, BurlyWood);
    }

    .picture-item-wrapper {
        position: relative;
    }

    .picture-item-wrapper:hover .overlay {
        opacity: 1;
    }

    .picture-item-wrapper:hover .overlay {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
    .picture-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .topnav a {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        /* If you want the text to be left-aligned on small screens */
    }


    p {
        padding: 0px 10px 0 10px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .9s linear;
        background-color: #C6AD8F;
    }

    .picture-item-wrapper {
        position: relative;
    }

    .picture-item-wrapper:hover .overlay {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .picture-items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .topnav a {
        float: left;
        width: 33.33%;
        text-align: center;
        /* If you want the text to be left-aligned on small screens */
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .9s linear;
        background-color: #C6AD8F;
    }

    .picture-item-wrapper {
        position: relative;
    }

    .picture-item-wrapper:hover .overlay {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .picture-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

    .topnav a {
    float: left;
    width: 33.33%;
    text-align: center;
    /* If you want the text to be left-aligned on small screens */
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .9s linear;
        background-color: #C6AD8F;
    }

    .picture-item-wrapper {
        position: relative;
    }

    .picture-item-wrapper:hover .overlay {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
